<%- include("../partials/header") %>
<!-- Font awesome -->
<script src="https://kit.fontawesome.com/a8d80231ea.js" crossorigin="anonymous"></script>

<!-- Link back -->
<a href="/skills">Back to skills</a>
<h1 class="mt-2">New Skill</h1>

<!-- Single skill update form -->
<form method="POST" action="/skills" class="container">
    <div class="form-group mb-2">
        <label for="skill-name">Skill Name</label>
        <input name="name" id="skill-name" class="form-control" type="text" value=""/>
    </div>

    <div class="form-group mb-2">
        <label for="skill-icon">Icon</label>
        <input name="icon" id="skill-icon" class="form-control" type="text" value="fa-solid fa-circle-info" />
        <i id="skill-icon-display" class="fa-solid fa-circle-info"></i>
        <small class="form-text text-muted">classes for Font Awesome 6 (non-pro basic and brand only).</small>
    </div>

    <div class="form-check mb-2">
        <label for="skill-learned">Learned</label>
        <input class="m-2" name="learned" id="skill-learned" type="checkbox"/>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>

</form>

<script src="/javascripts/iconUpdater.js"></script>

<%- include("../partials/footer") %>