<%- include("partials/header") %>
    <h1>Express Dev Skills</h1>
    <p>This boilerplate project demos MVC structure</p>
    <p>Go to <a href="/skills" class="badge bg-primary text-deco-none">Skills</a></p>

<%- include("partials/footer") %>
