body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-centered {
  text-align: center;
}

.w-1 {
  width: 1em;
}

.w-2 {
  width: 2em;
}

.w-3 {
  width: 3em;
}

.w-4 {
  width: 4em;
}

.text-deco-none {
  text-decoration: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  color: #00000000;
}